<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../public/stylesheetsPage/homestore.css">
    <title>Home | Store</title>
</head>
<body>
    <main class="caontainer-main">
        <section class="first-section">
            <div class="container-options-stores">
                <h1 class="title-page-content">Stores</h1>
                <div class="options-actions">
                    <div class="item-option">Agregar item</div>
                    <div class="item-option">Consultas</div>
                    <div class="item-option">Actualizar item</div>
                    <div class="item-option">Eliminar item</div>
                </div>
            </div>
        </section>    
    </main>
</body>
</html>